
h1 {
    font-size: 50px;
    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

iframe {
    display: block;
    margin-left: 25%;
}


.d-block w-100{

}